[submodule "Components/Grammophone.EnnounInference"]
	path = Components/Grammophone.EnnounInference
	url = https://github.com/grammophone/Grammophone.EnnounInference.git
[submodule "Components/Grammophone.DataStreaming"]
	path = Components/Grammophone.DataStreaming
	url = https://github.com/grammophone/Grammophone.DataStreaming.git
[submodule "Components/Grammophone.DataStreaming.Azure"]
	path = Components/Grammophone.DataStreaming.Azure
	url = https://github.com/grammophone/Grammophone.DataStreaming.Azure.git
[submodule "Components/Grammophone.Lexica"]
	path = Components/Grammophone.Lexica
	url = https://github.com/grammophone/Grammophone.Lexica.git
[submodule "Components/Grammophone.Lexica.Greek.Sources"]
	path = Components/Grammophone.Lexica.Greek.Sources
	url = https://github.com/grammophone/Grammophone.Lexica.Greek.Sources.git
[submodule "Components/Grammophone.Vectors"]
	path = Components/Grammophone.Vectors
	url = https://github.com/grammophone/Grammophone.Vectors.git
[submodule "Components/Grammophone.LanguageModel"]
	path = Components/Grammophone.LanguageModel
	url = https://github.com/grammophone/Grammophone.LanguageModel.git
[submodule "Components/Grammophone.LanguageModel.Greek.Provision"]
	path = Components/Grammophone.LanguageModel.Greek.Provision
	url = https://github.com/grammophone/Grammophone.LanguageModel.Greek.Provision.git
[submodule "Components/Grammophone.SVM"]
	path = Components/Grammophone.SVM
	url = https://github.com/grammophone/Grammophone.SVM.git
[submodule "Components/Grammophone.Parallel"]
	path = Components/Grammophone.Parallel
	url = https://github.com/grammophone/Grammophone.Parallel.git
[submodule "Components/Grammophone.GenericContentModel"]
	path = Components/Grammophone.GenericContentModel
	url = https://github.com/grammophone/Grammophone.GenericContentModel.git
[submodule "Components/Grammophone.Linq"]
	path = Components/Grammophone.Linq
	url = https://github.com/grammophone/Grammophone.Linq.git
[submodule "Components/Grammophone.Kernels"]
	path = Components/Grammophone.Kernels
	url = https://github.com/grammophone/Grammophone.Kernels.git
[submodule "Components/Grammophone.CRF"]
	path = Components/Grammophone.CRF
	url = https://github.com/grammophone/Grammophone.CRF.git
[submodule "Components/Grammophone.Configuration"]
	path = Components/Grammophone.Configuration
	url = https://github.com/grammophone/Grammophone.Configuration.git
[submodule "Components/Grammophone.Caching"]
	path = Components/Grammophone.Caching
	url = https://github.com/grammophone/Grammophone.Caching.git
[submodule "Components/Grammophone.Optimization"]
	path = Components/Grammophone.Optimization
	url = https://github.com/grammophone/Grammophone.Optimization.git
[submodule "Components/Grammophone.Indexing"]
	path = Components/Grammophone.Indexing
	url = https://github.com/grammophone/Grammophone.Indexing.git
[submodule "Components/Grammophone.Serialization"]
	path = Components/Grammophone.Serialization
	url = https://github.com/grammophone/Grammophone.Serialization.git
[submodule "Components/Grammophone.BetaImport"]
	path = Components/Grammophone.BetaImport
	url = https://github.com/grammophone/Grammophone.BetaImport.git
[submodule "Components/Grammophone.LanguageModel.Greek.TrainingSources"]
	path = Components/Grammophone.LanguageModel.Greek.TrainingSources
	url = https://github.com/grammophone/Grammophone.LanguageModel.Greek.TrainingSources.git
