@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Browser extensions";
}

<h2>Browser extensions</h2>
<h3>Integrate the inference engine into your browser</h3>
<p>
	For the time being, a <a href="">Chrome extension</a> is available.
</p>
<p>
	<img src="" />
</p>
<p>
	Other major brosers will follow shortly.
</p>