@{
    ViewBag.Title = "About";
}
<h1 class="typography-classic well">Ἔννουν</h1>
<h2>A hub of services for the ancient Greek language</h2>
<p>
	This site offers part-of-speech tagging and lemmatization services for the ancient Greek language.
	More services are planned for the near future.
</p>
<h3>Sources Credits</h3>
<p>The following material has been used to develop this project.</p>
<ul>
	<li>
		<h4>Training</h4>
		<p>
			Grammar has been trained using data found 
			in <a href="http://www.perseus.tufts.edu/hopper/opensource/download" target="_blank">Perseus Project</a>.
			Syntax has been trained using data from the 
			<a href="https://perseusdl.github.io/treebank_data/" target="_blank">Perseus Ancient Greek and Latin Dependency Treebank</a>, the 
			<a href="https://github.com/morphgnt/tischendorf-data/tree/master/word-per-line/2.7" target="_blank">Tischendorf's New Testament with morphological tags</a>
			and the Rahlfs edition of Septuagint Old Testament provided by the 
			<a href="http://ccat.sas.upenn.edu/gopher/text/religion/biblical/lxxmorph/0-readme.txt" target="_blank">Center for Computer Analysis of Texts (CCAT) at the University of Pennsylvania</a>
			combined with public domain editions to restore punctuation.
		</p>
	</li>
	<li>
		<h4>Lexicon</h4>
		<p>
			The middle Liddell-Scott lexicon is provided, found in 
			<a href="http://www.perseus.tufts.edu/hopper/opensource/download" target="_blank">Perseus Project</a>.
		</p>
	</li>
	<li>
		<h4>Presentation</h4>
		<p>
			Glyphs are provided from the <a href="http://glyphicons.com/" target="_blank">Glyphicon Halflings set</a>
			coming with <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>. The background is taken from 
			<a href="http://www.monkee-boy.com/blog/2013/03/freebie-friday-large-blurred-backgrounds/" target="_blank">Monkee Boy</a>.
			The source of the cover image 
			is <a href="http://codexsinaiticus.org/en/project/conservation_ink.aspx" target="_blank">Codex Sinaiticus</a>.
		</p>
	</li>
	<li>
		<h4>Source code</h4>
		<p>
			The source code of this project resides in a <a href="https://github.com/grammophone/Grammophone.Ennoun.Web" target="_blank">Git
			repository</a> which references submodules, so make sure you clone recursively and follow the instructions therein.
		</p>
	</li>
</ul>